/* 
Zachary Bochanski
2019.07.10
Assessment 1
This document provides syling for the layout of the html tags using classes
*/

/* make variables for color theme */
:root {
  --theme-color: #8bc34a;
  --accent-color: #ff4081;
  --bg-color: #efefef;
  --pop-txt-color: #fff;
  --txt-color: #757575;
  --card-bg-color: #fbfbf8;
}

/* styling classes for the navigation bar, add this class to any list item to apply link styling for the specific list */
.navigation_bar {
    background: var(--theme-color);
    flex-direction: column;
    align-items: stretch;
}

.navigation_link {
    float: right;
    flex-wrap: nowrap;
    box-sizing: border-box;
    padding: 14px 16px;
}

/* this controls the syling and position of the menu bar title */
.header_bar_title {
    float: left;
    flex-wrap: nowrap;
    box-sizing: border-box;
    color: var(--pop-txt-color);
    padding: 14px 16px;
}

/* main content layout styling here */
.main_layout {
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

/* footer link styling */
.footer_link {
    float: left;
    text-decoration: none;
    padding: 14px 16px;
}

/* styling for copyright on footer */
.copyright {
    float: right;
    flex-wrap: nowrap;
    box-sizing: border-box;
    color: var(--pop-txt-color);
    padding: 14px 16px;
}


/* card class for making a div a card */
.card {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    height: auto;
    overflow: hidden;
    width: auto;
    position: relative;
    background: var(--card-bg-color);
    border-radius: 6px;
    box-sizing: border-box;
    margin: 1em;
}

.card:hover {
    border-bottom: 1px solid;
}

.card_content {
    padding: 3em;
}

/* custom table classes */
.data_table {
    position: relative;
    border-collapse: collapse;
    white-space: nowrap;
    font-size: $data-table-font-size;
}

/* grid container system for gallery */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
/* css for column class using flexbox*/
.column {
  flex: 30%;
  max-width: 30%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Using media queries to adjust colmumn to 2 when screen size gets to a max width of 800px */
@media (max-width: 800px) {
  .column {
    flex: 45%;
    max-width: 50%;
  }
}

/* Another media quieries for images to be 100% of the screen and 1 column when the screen size is 600px */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}